img {
  /* float: left; */
}

#title-API-if {
    color: blue;
    text-align: center;
    font-weight: bold;
}

.tabla-conteudo {
  color: rgba(14, 14, 138, 0.733);
  font: condensed 120% sans-serif;
  font-size: large;
}

ol {
  margin: 0.6;
  padding: 0.6;
  margin-bottom: 0.6em;
}

ol > li {
  margin-bottom: 0.3em;
}

.apendices {
  color: rgba(14, 14, 138, 0.733);
  font: condensed 120% sans-serif;
}

#comunicacao-api {
  color: rgba(14, 14, 138, 0.733);
}

.paragrafos-conteudo {
  font: condensed 100% sans-serif;
  margin-bottom: 0.6em;
}

/* ol {
    list-style-type: none;
    counter-reset: item;
    margin: 0.6;
    padding: 0.6;
  } */

  /* ol > li {
    display: table;
    counter-increment: item;
    margin-bottom: 0.6em;
  }
  
  ol > li:before {
    counter-increment: none;
    content: counters(item, ".") ". ";
    display: table-cell;
    padding-right: 0.6em;    
  } 
  
  /* li ol > li {
    margin: 0;
  }
 
  li ol > li:before {
    content: counters(item, ".") " ";
  }  */

